@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
  display: flex;
  align-items: center;
  height: 100vh;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
.wrapper {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.row {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 20%;
  background: linear-gradient(93.89deg,#edc531 6.66%,#624001 100%);
  box-shadow: 2px 2px 11px rgba(0,0,0,.18);
  border-radius: 5px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 100%;
  border: 1px solid #edc531;
  border-radius: 5px;
  background: #edc531;
  color: #000;
  text-align: center;
  cursor: grab;
  transition: all .3s ease-in-out;
}
.item:hover {
  background: linear-gradient(93.89deg,#edc531 6.66%,#624001 100%);
  transition: all .3s ease-in-out;
}
.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 20%;
  height: 300px;
}



.hold {
  border: 5px solid #eee;
}
.hide {
  display: none;
}
.hovered {
  border-top: 2px solid #edc531;
}